@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

.pc {
    width: 1050px;
    height: 785px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.pc img {
    width: 100%;
}
.pc::after {
    content: "";
    position: absolute;
    width: 814px;
    height: 513px;
    background: url("../images/geoje_renewal.png") center top no-repeat;
    left: 118px;
    top: 78px;
    background-size: cover;
}
.pc:hover::after {
    background-position: center bottom;
    transition: 10s linear;
}